.mycontainerssss
{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 50px;
  /* background-color: blue; */
}
.item1
{
  display: flex;
  justify-content: space-evenly;
  /* align-items: center; */
  flex-direction: column;
  width: 30%;
  height: 500px;

}
.item2
{
  flex :1;
  width: 50%;
  /* background-color: blue; */
  display: flex;
  justify-content: flex-end;
  animation: move 2s ease-in-out infinite alternate;
}

.img {
  height: 600px;
  width :600px;
}

.button
{
  padding: 20px;
  width: 50%;
  border-radius: 50px;
  background: rgb(228,175,232);
background: linear-gradient(90deg, rgba(228,175,232,1) 0%, rgba(141,5,170,1) 0%, rgba(60,228,228,1) 100%);
  color: white;
  cursor: pointer;
  border: none;
  
}

.title {
  font-size: 50px;
  font-weight: 400;
  height: 50%; /* Adjust the height value as per your design */
  background: linear-gradient(to bottom, #8d05aa, #3ce4e4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* Added standard property (added to remove error)*/
}


@keyframes move 
{
      from {
        transform: translateY(-5px);
      }
      to 
      {
        transform: translateY(0px) scale(1.03); 
      }
}