.container
{
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  align-items: center;
  font-size: small;
  position: absolute;
  bottom: 0.5px;
  color: rgb(188, 144, 229);
  background-color: aqua;
}
